body{
    background-color: aqua;
}
body*{
    box-sizing: border-box;
}
.header{
    background-color: blue;
    color:white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
img{
    border-radius:50%;
    height:60px;
    width: 60px;
}
.table-users{
    border: 1px solid blueviolet;
}